/* Music Controls Component */
.music-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  background: transparent;
  position: relative;
  z-index: 10;
  color: white;
}

.track-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.track-title {
  font-size: 2rem;
  font-weight: bold !important;
  margin-bottom: 5px;
  color: #19195C !important;
}

.track-artist {
  font-size: 1.4rem;
  color: #FFFFFFB3;
  margin-bottom: 10px;
}

.track-details {
  margin-bottom: 15px;
}

.no-track {
  font-size: 1.2rem;
  color: #FFFFFFB3;
  margin-bottom: 10px;
}

/* Style for the LinearProgress component */
.MuiLinearProgress-root {
  width: 80%;
  background-color: #FFFFFFB3;
  margin-bottom: 10px;
}

.MuiLinearProgress-bar {
  background-color: #19195C !important;
}

/* Time display */
.track-time {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #FFFFFFB3;
}

.playback-controls {
  margin-top: 15px;
}
