/* Album banner for track list page */
.album-banner {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 0 auto 20px;
  display: block;
}

/* Track List Layout */
.track-list-page {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.track-list-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-right: 10px;
}

.track-list h1 {
  text-align: center;
  color: #E59500;
  margin-bottom: 20px;
}

.track-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.track-card {
  background-color: #0077B6;
  border-radius: 8px;
  min-height: 150px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  min-width: 100%;
}

.track-card .MuiTypography-root {
  color: white;
  margin-bottom: 10px;
}

.track-card .MuiButton-root {
  background-color: #373A40;
  color: white;
  text-transform: none;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.track-card .MuiButton-root:hover {
  background-color: #E59500;
}

.album-track-title {
  color: white !important;
}

/* Styling for the duration text */
.track-card .MuiTypography-body2 {
  color: #B0BEC5;
  margin-bottom: 15px;
}

.track-card .track-title {
  flex-grow: 1;
  font-size: clamp(0.9rem, 2vw, 1.2rem);
  text-align: center;
  padding: 10px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis; /* Ensure text doesn't overflow */
  white-space: nowrap; /* Prevent text from wrapping to a new line */
  max-height: 60px; /* Set a max-height to ensure text doesn't push out the card */
}

.track-card .track-duration {
  color: #AAAAAA; /* Dimmed color for duration */
  margin-bottom: 15px; /* Added spacing */
  font-size: calc(1vw + 1vh); /* Dynamic font size for better readability */
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis; /* Prevent overflow if text is too long */
  white-space: nowrap;
}
