/* Overall app container */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  background: rgb(25,25,92);
  background: linear-gradient(90deg, rgba(25,25,92,1) 23%, rgba(229,149,0,1) 63%, rgba(25,25,92,1) 91%);
  color: white;
}

.logo {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-right: 1rem; /* Add margin to separate logo from music controls */
}

.app-title-link {
  position: relative;
  z-index: 10; /* Ensure the logo is on top of other elements */
}

.music-controls-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Main content container */
.main-content {
  display: flex;
  flex-grow: 1;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  justify-content: space-between;
}

.artist-grid-container {
  flex-grow: 1; /* This will make the artist grid take up available space */
  padding: 1rem;
}

.queue-container {
  width: 100%;
  max-width: 350px;
  position: sticky;
  top: 0;
  background-color: #272929;
  color: white;
  padding: 1rem;
  height: 100vh;
  overflow-y: auto;
}
